.card {
	padding: 10px 0;
}

.wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.pagination {
	margin-top: 50px;
	display: flex;
	justify-content: flex-end;
}
