.card {
	padding: 10px 0;
}

.wrap {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	max-width: 1200px;
	margin: 0 auto;

	&:nth-child(4n + 4) {
		margin-right: 0 !important;
	}
}

.pagination {
	margin-top: 50px;
	display: flex;
	justify-content: flex-end;
}
