.page-wrap {
	display: flex;
	flex-direction: row;
	margin-bottom: 50px;
}

.statistics-wrap {
	margin-top: 50px;
}

.sort-wrap {
	margin: 0 20px;
}

@media only screen and (max-width: 620px) {
	.page-wrap {
		flex-direction: column;
	}
}
